
body{
  text-align: center;
  background-color:#525C91;
  color: #333;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
}

/*リンク関連*/
a{/*リンクされた文字*/
  color: #0000ff;
  text-decoration: underline;
}
a:link {/*未訪問のリンク*/
  color: #4169E1;
  text-decoration: underline;
}
a:visited {/*訪問後のリンク*/
  color: #4169E1;
  text-decoration: underline;
}
a:hover {/*マウスをのせたとき*/
  color: #1E90FF;
  text-decoration: underline;
}
a:active {/*クリック中*/
  text-decoration: none;
}


/* 更新履歴リスト*/
dt {
  margin: 0 0 0 20px;
  padding: 0;
  color: #013461;
  font-size: 18px;
  line-height: 1.5em;
}
dd {
  margin:0 0 0 50px;
  padding: 0;
  font-size: 15px;
  line-height: 1.5em;
}

/* フッターのアドレス*/
.address{
  clear: left;
}






/* newwwwwwww */

/*ーーーーーーーー
　　　　PC
ーーーーーーーー*/

.body{
  width: 100%;
}

  header{
  width: 1010px;
  background-color: #070F3A ;
  margin: 0 0 0 30px;
}
.logo{
  width: 600px;
  margin: 0 auto;
}
.header-contents{
  width: 950px;
  margin: 0;
}
/*校章*/
.header-content-emblem{
  float: left;
  background-color: #fff;
  width: 240px;
  height: 135px;
}
.emblem{
  margin: 18px auto;
 }
/*上部メニューバー*/
.header-content-menu{
  display: block;
  background-color: #fff;
  width: 770px;
  height: 135px;
  padding: 0;
  text-align: left;
  margin: 0 0 0 240px;
}
.menu-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 770px;
}
.sns-list{
  text-align: left;
  display: list-item;
  padding: 0px;
}
.header-content-menu li{
  display: inline-block;
  padding: 0;
  margin: 1px -3px -2px 0;
}
.header-content-menu a{
  text-decoration: none;
  margin: 0 auto;
}
/*上部メニューバー：メニューボタン*/
.menu {
  display: inline-block;
  width: 120px !important;
  height: 65px  !important;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  text-indent: 5px;
  line-height: 60px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #333;
  line-height: 50px;
  overflow: hidden;
}
  .menu::before,
  .menu::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }
  .menu,
  .menu::before,
  .menu::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: -100%;
    width: 100%;
    height: 100%;
  }
  .menu:hover {
    color: #fff;
  }
  .menu:hover::after {
    top: 0;
    background-color: #525C91;
  }

/*上部メニュー色*/
  .menu_01:hover::after {
    background-color: #3399ff;
  }
  .menu_02:hover::after {
    background-color: #3399ff;
  }
  .menu_03:hover::after {
    background-color: #3399ff;
  }
  .menu_04:hover::after {
    background-color: #3399ff;
  }
  .menu_05:hover::after {
    background-color: #3399ff;
  }
  .menu_06:hover::after {
    background-color: #3399ff;
  }
  .menu_07:hover::after {
    background-color: #3399ff;
  }
  .menu_08:hover::after {
    background-color: #3399ff;
  }
  .menu_09:hover::after {
    background-color: #3399ff;
  }
  .menu_10:hover::after {
    background-color: #3399ff;
  }
  .menu_11:hover::after {
    background-color: #3399ff;
  }



menu_01{
  word-wrap: break-word;
}



.sns{
  clear: left;
  display: block;
}
.sns-list{
    width: 120px;
    height: 65px;
    display: table;
}
.share{
  width: 100%;
  height: 100%;
}

/* 左側情報 */
.side{
  float: left;
  width: 240px;
  margin: 0 0 0 30px;
}

.side-bar_title{
  background-color: #070F3A;
  color: #FFF;
  font-size: 23px;
  font-family: ヒラギノ;
  padding: 5px;
  margin: 0 auto;
}

.side_contents{
  background-color: #fff;
}

.side-bar_description_01{
  font-size: 10px;
  font-family: ヒラギノ;
  text-align: left;
  height: 152px;
  overflow: scroll; 
  overflow-x: hidden;
  background-color: #fff;
}
.side-bar_description_02{
  height: 360px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;
}

/* メイン */
main{
  float: left;
  background-color: #525C91;
  width: 770px;
  height: 577px;
  padding: 0;
}

/* フッター */
footer{
  clear: left;
  width: 1010px;
  margin: 0 0 0 30px;
}

/*ーーーーーーーー
　　PC~tablet
ーーーーーーーー*/
@media screen and (max-width:1073px){
/*校章*/
.header-content-emblem{
  float: left;
  background-color: #525C91;
  width: 90px;
  height: 135px;
}
 .emblem{
   margin:25px auto;
   width: 80px !important;
   height: 80px !important;
   }

/*上部メニューバー*/
.header-content-menu{
  float: left;
  background-color: #525C91;
  width: 730px;
  height: 135px;
  padding: 0;
  margin: 0 auto;
  text-align: left;

}
 .menu-list{
   list-style-type: none;
   text-align: left;
   padding: 0;
   width: 735px;
   margin: 3px auto;
 }
  .header-content-menu li{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    margin: -1px -3px -2px 0;
  }
  .header-content-menu a{
    text-decoration: none;
    margin: 0 auto;
  }

.sns{
  clear: left;
  display: block;
}

/* 左側情報 */
.side{
  width: 210px;
}
.side-bar_description_02{
  height: 240px;
}

/* メイン */
main{
  width: 610px;
  height: 458px;
}



}
/*ーーーーーーーー
　　tablet
ーーーーーーーー*/
@media screen and (max-width:881px){
body{
  width: 100%;
  margin: 0;
}

/*校章*/
.header-content-emblem{
  float: left;
  background-color: #525C91;
  width: 60px;
  height: 250px;
}
 .emblem{
   margin:75px auto;
   width: 50px !important;
   height: 50px !important;
   }

/*上部メニューバー*/
header{
  z-index: 1;
  width: 100%;
  margin: 0;
  background-color: #070F3A;
}

header .logo{
  width: 90%;
}

.header-contents{
  width: 950px;
  margin: 0 20px 0;
  display: none;
}

.header-content-menu{
  float: left;
  background-color: #525C91;
  width: 500px;
  height: 250px;
  padding: 0;
  text-align: left;

}
 .menu-list{
   list-style-type: none;
   text-align: left;
   padding: 0;
   height: 90%;
   margin: 12px auto;
   width: 500px;
 }

.header-content-menu li{
  display: inline-block;
  padding: 5px 2px 0!important;
  margin: 0 -1px;
}

.sns-list{
   width: 120px;
   height: 60px;
   display: table;
   text-align: left;
   padding: 0px;
 }
  .header-content-menu li{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    margin: -1px -3px -2px 0;
  }
  .header-content-menu a{
    text-decoration: none;
    margin: 0 auto;
  }
/*上部メニューバー：メニューボタン*/
  .menu {
    display: inline-block;
    width: 120px !important;
    height: 60px  !important;
    text-align: left;
    text-decoration: none;
    font-size: 13px;
    text-indent: 5px;
    line-height: 60px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #333;
    line-height: 50px;
    overflow: hidden;
  }
  .menu::before,
  .menu::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }
  .menu,
  .menu::before,
  .menu::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: -100%;
    width: 100%;
    height: 100%;
  }
  .menu:hover {
    color: #fff;
  }
  .menu:hover::after {
    top: 0;
    background-color: #333;
  }

.sns{
  clear: left;
  display: block;
}
.sns-list{
    width: 120px;
    height: 60px!important;
}
.share{
  height: 50%;
}

/* 左側情報 */
.side{
  clear: left;
  width: 100%;
  background-color: #525C91;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 675px;
}
.side_contents{
  margin: 10px 10px 0;
  width: 45%;
  height: 295px;
  vertical-align: top;
  display: inline-block;
}

.side-bar_title{
  height: 33px;
  padding: 3px auto;
}

.side-bar_description_01{
  height: 250px;
}
.side-bar_description_02{
  height: 250px;
  margin: 0 auto;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

/* メイン */
main{
  width: 100%;
  margin: 0;
  z-index: 2;
  position: absolute;
}

/* フッター */
footer{
  z-index: 4;
  display: block;
  width: 100%;
  margin: 0;
  top: 1000px;
  position: absolute;
}

}
/*ーーーーーーーー
　smartphone
ーーーーーーーー*/
@media screen and (max-width:640px){
/*スマホメニューボタン*/
body{
  margin: 0;
  width: 100%;
}

.header-content-menu{
  width: 100%;
}

.header-contents{
  display: none;
}
main{
  width: 100%;
  height: auto;
  margin: 0 !important;
  position: absolute;
  display: block;
  z-index: 2;
}
.side{
  width: 100%;
  margin: 75% 0 0;
  background-color: #525C91;
  display: block;
  top: 10% !important;
  z-index: 3;
}

.side_contents{
  width: 90%;
  margin: 0 auto;
}

.side-bar_description_01{
  height: 250px;
  background-color: #fff;
  display: block;
}
.side-bar_description_02{
  height: 300px;
  margin: 0 auto;
  display: block;
}

footer{
  width:100%;
  text-align: center;
  font-size: 10px;
  margin: 0;
  z-index: 4;
}

  }